<div style="position: absolute; z-index: 999; bottom: 0; background: white; width: 100%; border-top: 0.1rem solid #d5d5d5; transition: 1s;">
    <div (click)="hideCarrusel()" class="button_list_expand">
        <div class="span_item">
            <svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10h16M4 14h16" stroke="#a2a2a2" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/></svg>
        </div>
    </div>
    <app-carousel></app-carousel>
</div>