@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/* styles.css */

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}
  
.leaflet-popup-content {
    margin: 0rem !important;
    width: 17rem !important;
    height: 13rem;
}

.leaflet-popup-content-wrapper{
    overflow: hidden !important;
    padding: 0 !important;
    border-radius: 0.4rem !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white !important;
}